@using BookStore.ViewModels
@model RegisterUserViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStore.styles.css" asp-append-version="true" />
    <style>
        .form-register {
            margin: auto;
            padding: 20px !important;
        }
    </style>
</head>
<body>
    <form class="needs-validation mt-5 col-4 form-register shadow bg-white p-2" autocomplete="off" asp-controller="Account" asp-action="Register" method="post">
        <h2 class="text-center mb-4">Register</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName">Username:</label>
            <input class="form-control mb-3" asp-for="UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserEmail">Email:</label>
            <input class="form-control mb-3" asp-for="UserEmail">
            <span asp-validation-for="UserEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password:</label>
            <input class="form-control mb-3" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password:</label>
            <input class="form-control mb-3" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-dark btn-block">Register</button>
        <div class="log-home d-flex justify-content-between">
            <a asp-action="Login" class="align-self-end">Login</a>
            <a href="/"class="align-self-end">Home Page</a>
        </div>
    </form>
</body>

</html>
